/* ESPACIOS */
.pt-2 {
  padding-top: 20px;
}
.pt-3 {
    padding-top: 30px;
  }
  .pt-4 {
    padding-top: 40px;
  }
.pt-75 {
  padding-top: 75px;
}
  .pb-1 {
    padding-bottom: 10px;
  }
  .pb-2 {
    padding-bottom: 20px;
  }
  .pb-3 {
    padding-bottom: 30px;
  }
  .pb-4 {
    padding-bottom: 40px!important;
  }
  .pl-1 {
    padding-left: 10px;
  }
  .pl-2 {
    padding-left: 20px;
  }
  .pr-1 {
    padding-right: 10px;
  }
  .mt-2{
    margin-top: 20px!important;
  }
  .mb-2 {
    margin-bottom: 20px!important;
  }
  .mt-5{
    margin-top: 50px!important;
  }
  .mb-5 {
    margin-bottom: 50px!important;
  }
  @media (max-width: 520px) {
    .pt-0-r {
      padding-top: 0px!important;
    }
    .pt-3-r {
      padding-top: 30px!important;
    }
    .mt-0-r{
      margin-top: 0px!important;
    }
    .mt-2-r{
      margin-top: 20px!important;
    }
    .mb-0-r {
      margin-bottom: 0px!important;
    }
    .pb-0-r {
      padding-bottom: 0!important;
    }
    .pl-0-r {
      padding-left: 0px!important;
    }
    .pr-0-r {
      padding-right: 0px!important;
    }
    .ml-0-r {
      margin-left: 0px!important;
    }
    .mr-0-r {
      margin-right: 0px!important;
    }
  }

